@media (max-width:992px) {
    .container .col {
        width: 28%;
        background-color: red;
    }
}

@media (max-width:720px) {
    .container .col {
        width: 45%;
        background-color: purple;
    }

}
.nav .nav_

@media (max-width:500px) {
    .container .col {
        width: 100%;
        background-color: black;
    }

    title {
        display: none;
    }
}